body {
    background-image: url("../images/wall4.jpg");
}

button {
    margin: 10px 10px 10px 30px;
    width: 100px;
    height: 40px;
}

input {
    margin: 10px;
}

#root {
    margin: 0 auto;
    width: 80%;
}

.formButton {
    margin: 10px 10px 10px 30px;
    width: 100px;
    height: 40px;
    background: green;
}